doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/pure/pure-min.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")

    body
        .app.pure-g
            header.pure-u-1
                .pure-u-1-3
                    h1.logo Finder challenge!
                .pure-u-7-24
                    include blocks/search-form
                .pure-u-1-3
            aside.filters.pure-u-1-4
                h2.title Búsquedas Guardadas
                ul
                    li
                        a.title(href="#") terror puro
                        a.edit-link(href="#") Editar
                        a.delete-link(href="#") Eliminar
                    li
                        a.title(href="#") search drama
                        a.edit-link(href="#") Editar
                        a.delete-link(href="#") Eliminar
                    li
                        a.title(href="#") comedias en inglés
                        a.edit-link(href="#") Editar
                        a.delete-link(href="#") Eliminar
                h2.title Categorías
                ul
                    li
                        a.title(href="#") Todos
                    li
                        a.title(href="#") Terror
                    li
                        a.title(href="#") Comedia
                    li
                        a.title(href="#") Drama
                h2.title Idiomas
                ul
                    li
                        a.title(href="#") Todos
                    li
                        a.title(href="#") Inglés
                    li
                        a.title(href="#") Español
                    li
                        a.title(href="#") Portugués
                h2.title Publicación
                ul
                    li
                        a.title(href="#") Todos
                    li
                        a.title(href="#") Hoy
                    li
                        a.title(href="#") Hace una semana
                    li
                        a.title(href="#") Hace un mes
                    li
                        a.title(href="#") Hace un año
                h2.title Presentación
                ul
                    li
                        a.title(href="#") Impreso
                    li
                        a.title(href="#") Digital
                    li
                        a.title(href="#") Impreso y Digital
            content.pure-u-3-4
            footer.pure-u-1

        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/app.js")