doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/pure/pure-min.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")

    body
        .app.pure-g
            header.pure-u-1
                .pure-u-1-3
                    h1.logo
                        a.logo-link(href="/") Finder challenge!
                .pure-u-2-3
                    include blocks/search-form
            aside.filters.pure-u-1-4
                h2.title Búsquedas Guardadas
                ul
                    li
                        a.title-link(href="#") terror puro
                        a.edit-link(href="#") Editar
                        a.delete-link(href="#") Eliminar
                    li
                        a.title-link(href="#") search drama
                        a.edit-link(href="#") Editar
                        a.delete-link(href="#") Eliminar
                    li
                        a.title-link(href="#") comedias en inglés
                        a.edit-link(href="#") Editar
                        a.delete-link(href="#") Eliminar
                h2.title Categorías
                ul
                    li
                        a.title-link-link(href="#") Todos
                    li
                        a.title-link(href="#") Terror
                    li
                        a.title-link(href="#") Comedia
                    li
                        a.title-link(href="#") Drama
                h2.title Idiomas
                ul
                    li
                        a.title-link(href="#") Todos
                    li
                        a.title-link(href="#") Inglés
                    li
                        a.title-link(href="#") Español
                    li
                        a.title-link(href="#") Portugués
                h2.title Publicación
                ul
                    li
                        a.title-link(href="#") Todos
                    li
                        a.title-link(href="#") Hoy
                    li
                        a.title-link(href="#") Hace una semana
                    li
                        a.title-link(href="#") Hace un mes
                    li
                        a.title-link(href="#") Hace un año
                h2.title Presentación
                ul
                    li
                        a.title-link(href="#") Impreso
                    li
                        a.title-link(href="#") Digital
                    li
                        a.title-link(href="#") Impreso y Digital
            content.pure-u-3-4
                    .cards.pure-u-1
                        .card-template.pure-u-1-3
                            img.pure-img.card-image(src="" title="Devil At The Catacombs")
                            h2.card-title Devil At The Catacombs
                            .card-teaser  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis, consequuntur necessitatibus a cumque explicabo itaque nostrum earum nemo magnam, numquam quia eaque libero, magni tenetur laudantium!
                    .pure-u-1
                        .nav-links
                            a.previous-link(href="#") anterior
                            |
                            a.next-link(href="#") siguiente
            footer.pure-u-1

        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")
        script(src="/vendor/jquery/dist/jquery.min.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/app.js")